
html {
  --text-primary-color: hsl(0, 0%, 10%);
  --text-secondary-color: #aaaaaa;
  --text-accent-color: blue;

  --border-primary-color: hsl(0, 0%, 10%);
  --border-secondary-color: #aaaaaa;
  --border-accent-color: blue;

  --background-color: white;
  --background-secondary-color: hsla(0, 0%, 0%, 3%);
}

// https://css-tricks.com/dark-modes-with-css/
@media (prefers-color-scheme: dark) {
  // html {
  //   --background-color: red;
  // }
}




body {
  margin: 0;
  font-family: sans-serif;
  color: var(--text-primary-color);
}
body > .header {
  font-size: 250%;
  font-weight: 600;
  padding: 0.3em 0.5em;
  box-shadow: 0 0.05em 0.1em hsla(0,0%,0%,.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .title {
    font-size: 110%;
  }
  & > .link {
    background-color: white;
    font-size: 80%;
    border: 0.2em solid hsla(0, 0%, 0%, 0.8);
    box-shadow: 0 0 0.1em hsla(0,0%,0%, 0.8);
    border-radius: 0.7em;
    padding: 0.1em 0.4em;
    color: inherit;
    text-decoration: none;

    &:hover {
      filter: brightness(90%);
    }
    &:active {
      filter: brightness(80%);
    }
  }
}

.blocks {
  & > * {
    & > .heading {
      font-size: 120%;
      padding: 0.5em;

      display: flex;
      align-items: center;
      column-gap: 1em;

      & > .title {
        font-weight: 600;
        font-size: 120%;
      }
      & > :not(.title) {
        font-size: 90%;
      }

    }
    & > .content {
      position: relative;
      margin: 0 0.5em;
      width: calc(100% - 2 * 0.5em);
      min-height: 2em;
    }


    box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, .2);
    padding-bottom: 0.5em;
  }
}

.button {
  box-shadow: 0 0em 0.5em hsla(0, 0%, 0%, 0.6);
  border-radius: 0.3em;
  padding: 0.05em 0.5em;
  display: flex;

  &[enabled="true"] {
    box-shadow: 0 0em 0.5em green;
  }
  & > :first-child {
  }
}

.toggleButton {
  box-shadow: 0 0em 0.5em red;
  &[enabled="true"] {
    box-shadow: 0 0em 0.5em green;
  }
}



textarea.code {
  box-sizing: border-box;
  resize: vertical;
  border-radius: 0.3em;
  border: none;
  color: inherit;
}

.content > textarea.code {
  //font-family: monospace;
  width: 100%;
  font-size: 130%;
  min-height: 8.3em;
  box-shadow: 0 0 0.3em hsla(0, 0%, 0%, 0.5);
}
